@import '../../colors.scss';
@import '../../layouts.scss';

.header{
    padding: 0.6em 0;
    background: $nav_color;
    position: sticky;
    top: 0;
    z-index: 4;
    &__brand--logo{
        width: 58px;
    }
    &__search__container{
        overflow: hidden;
        margin-left: 1.6em;
        input{
            padding: 0.7em 1em;
            margin: 0;
            &::placeholder {
                color: $secondary;
            }
        }
        button{
            background-color: $body_color;
            padding: 0 0.85em;
            margin: 0;
            cursor: pointer;
            img{
                width: 18px;
                padding-top: 0.25em;
            }
        }
        @include border-radius(4px);
    }
    @media (max-width: 600px) {
        &__search__container{
            margin-left: 0.7em;
            button{
                padding: 0 0.7em;
            }
        }
    }
}